*{
    font-family: Helvetica, sans-serif;
}

body{
    background-color: rgb(175, 175, 175);
    text-align: center;
}

.card{
    background-color: aliceblue;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    box-sizing: border-box;
    padding: 10px;
}

ul{
    list-style-position: inside;
    
}
.list{
    list-style-type: none;
}
img{
    max-width: 500px;
    display: block;
    margin: 0 auto;
}
